<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <tx:annotation-driven/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:file:hsqldb/test;shutdown=true"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"/>

    <bean id="accountService" class="com.family168.springsecuritybook.ch302.AccountService">
        <property name="mutableAclService" ref="aclService"/>
    </bean>

    <bean id="contractService" class="com.family168.springsecuritybook.ch302.ContractService">
        <property name="mutableAclService" ref="aclService"/>
    </bean>

    <bean id="messageService" class="com.family168.springsecuritybook.ch302.MessageService">
        <property name="mutableAclService" ref="aclService"/>
    </bean>

    <bean id="permissionService" class="com.family168.springsecuritybook.ch302.PermissionService">
        <property name="mutableAclService" ref="aclService"/>
    </bean>

</beans>
