<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">

    <http auto-config='true'>
        <intercept-url pattern="/admin.jsp" access="ROLE_ADMIN" />
        <intercept-url pattern="/**" access="ROLE_USER" />
    </http>

    <authentication-manager alias="authenticationManager" session-controller-ref="currentController"/>

    <authentication-provider>
        <user-service>
            <user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN" />
            <user name="user" password="user" authorities="ROLE_USER" />
        </user-service>
    </authentication-provider>

    <beans:bean id="concurrentSessionFilter"
        class="org.springframework.security.concurrent.ConcurrentSessionFilter">
        <custom-filter position="CONCURRENT_SESSION_FILTER" />
        <beans:property name="sessionRegistry" ref="sessionRegistry"/>
    </beans:bean>

    <beans:bean id="sessionRegistry"
        class="com.family168.springsecuritybook.ch214.SmartSessionRegistry"/>

    <beans:bean id="currentController"
        class="com.family168.springsecuritybook.ch214.SmartConcurrentSessionController">
        <beans:property name="sessionRegistry" ref="sessionRegistry"/>
        <beans:property name="exceptionIfMaximumExceeded" value="true"/>
    </beans:bean>

</beans:beans>
